.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-md;
}

.home__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.home__description {
  color: $text-secondary;
  font-size: 1.5rem;
}

.home__title {
  font-weight: 900;
  @include gradient-text($gradient-1);
  font-size: 5rem;
  line-height: 1;
}

.home__subtitle {
  @include gradient-text($gradient-2);
  font-size: 3rem;
  line-height: 1;
}

.home__btn {
  display: flex;
  justify-content: center;
  gap: $spacing-md;
}

.btn {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: $radius-full;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  gap: $spacing-xs;
}

// Le cercle du ripple //
.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition:
    width 0.6s ease,
    height 0.6s ease,
    opacity 0.6s ease;
  opacity: 0;
}

// Animation au hover //
.btn:hover::before {
  width: 300px;
  height: 300px;
  opacity: 1;
}

.btn__primary {
  background: $gradient-1;
  color: $text-primary;
  padding: $spacing-sm $spacing-md;
  border-radius: $radius-full;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  transition: all 0.6s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.btn__secondary {
  background-color: transparent;
  border: solid 2px $primary-color;
  color: $text-primary;
  padding: $spacing-sm $spacing-md;
  border-radius: $radius-full;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.6s ease;

  &:hover {
    background: $gradient-1;
    transform: translateY(-5px);
  }
}
