.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-sm $spacing-md;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); //compatibility for Safari
  transition: all $transition-normal;
}

.navbar__logo {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar__logo-text {
  @include gradient-text($gradient-1);
}

.navbar__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: $spacing-sm;
}

.navbar__link {
  padding: 0.5rem 0;
  color: $text-secondary;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color $transition-normal;
}

.navbar__link:hover {
  color: $text-primary;
}

.navbar__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: $gradient-1;
  transition: $transition-normal;
}

.navbar__link:hover::after {
  width: 100%;
}
